.pageContainer{

      display: flex ;
}

.pageContainer> div {
  background-color: #f1f1f1;
  width: 200px;
  margin-left: 40%;
  height: 25px;
  margin: 10px;
  text-align: center;
  line-height: 20px;
  font-size: 15px;
}